<div class="container">
    <div>
        <div class="jumbotron my-5 p-4 p-md-5 text-white">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Blog Entry 1</h1>
                <p class="lead my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ea voluptatem eveniet quod officiis maxime blanditiis. Rem temporibus expedita ratione iste nesciunt debitis, non totam excepturi, sunt officia reprehenderit nihil?</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        </div>
        <div class="jumbotron my-5 p-4 p-md-5 text-white">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Blog Entry 2</h1>
                <p class="lead my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ea voluptatem eveniet quod officiis maxime blanditiis. Rem temporibus expedita ratione iste nesciunt debitis, non totam excepturi, sunt officia reprehenderit nihil?</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        </div>
        <div class="jumbotron my-5 p-4 p-md-5 text-white">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Blog Entry 3</h1>
                <p class="lead my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ea voluptatem eveniet quod officiis maxime blanditiis. Rem temporibus expedita ratione iste nesciunt debitis, non totam excepturi, sunt officia reprehenderit nihil?</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        </div>
    </div>
</div>